{% extends 'base.html' %} {% block contenido %}

<div class="row justify-content-center">
  <div class="col-sm-4">
    <div class="card  my-4">
<div class="card-header text-center">
  <h2>Login Usuario</h2>
    {% load static %}
   <div class="contenedor_imagen"> <img src="{% static 'logo_1.png' %}" alt="Logo" width="100"></div>
 
</div>
<div class="card-body">
    <h1>Iniciar sesión</h1>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <form method="post" >
        {% csrf_token %}
        <label for="">NOMBRE DE USUARIO</label><br>
        {{form.username}}<br>
        
        <label for="">NOMBRE DE PASSWORD</label><br>
        {{form.password}}<br>
        <input type="submit" class="btn" value="Iniciar sesión">
    </form>
 
</div>


    </div>
  </div>
  </div>
{% endblock %}


